:root {
  --black: #000000;
  --white: #ffffff;
  --green: hsl(159, 69%, 38%);
  --red: hsl(14, 86%, 42%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--rose-50);
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  height: 100vh;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.btn.active,
.btn:active,
.btn.focus,
.btn:focus,
a.addToCartBtn {
  box-shadow: none;
  border-color: var(--rose-400);
}

.preset-1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: var(--fw-700);
}

.preset-2 {
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: var(--fw-700);
}

.preset-3 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: var(--fw-600);
}

.preset-4 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: var(--fw-400);
}

.preset-4-bold {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: var(--fw-600);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
  .wrapper {
    padding: 60px 0px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    color: var(--rose-900);
    margin: 0 0 40px 0px;
  }

  /* End Header */

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .product-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    background-color: var(--rose-50);
    border: none;
    height: 100%;
  }
  .card-img-top {
    width: 100%;
    border-radius: 7px;
  }

  .card-body {
    margin-top: 30px;
  }

  .card-text {
    margin-bottom: 0px;
  }

  .category {
    color: var(--rose-500);
  }

  .title {
    color: var(--rose-900);
  }

  .price {
    color: var(--red);
  }

  .addToCartBtn {
    background-color: var(--white);
    color: var(--rose-900);
    border: 1px solid var(--rose-400);
    border-radius: 40px;
    padding: 10px 20px;
    position: absolute;
    bottom: 118px;
    left: 75px;
  }

  .cart-icon {
    margin-right: 5px;
    color: var(--red);
    font-size: 20px;
  }

  .cart-icon {
    margin-right: 5px;
    color: var(--red);
    font-size: 20px;
  }

  .cart-title {
    color: var(--red);
  }

  .jumbotron {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  img.empty-cart {
    margin: 0 auto;
  }

  .cart-item {
    margin-top: 40px;
    width: 100%;
  }

  .cart-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--rose-100);
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .cart-item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  .item-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .item-title p {
    color: var(--rose-900);
    margin: 0;
  }

  p.cart-quantity.preset-4-bold {
    color: var(--red);
  }

  .cart-variant,
  .cart-item-total {
    color: var(--rose-500);
  }

  .close-button {
    border: 1px solid var(--rose-500);
    border-radius: 50px;
    margin: 0;
    height: 23px;
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .close-button p {
    color: var(--rose-500);
    text-align: center;
  }

  .cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cart-delivery-img {
    width: 100%;
    margin-top: 40px;
    background-color: var(--rose-50);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .carbon-neutral {
    color: var(--rose-900);
  }

  .order-checkout {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .order-checkout button {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 12px 54px;
    border-radius: 50px;
  }
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .header h1 {
    color: var(--rose-900);
    margin: 0 0 40px 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .product-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    gap: 15px;
  }

  .card {
    background-color: var(--rose-50);
    border: none;
  }

  .card-img-top {
    width: 100%;
    border-radius: 7px;
  }

  .card-body {
    margin-top: 30px;
  }

  .card-text {
    margin-bottom: 0px;
  }

  .category {
    color: var(--rose-500);
  }

  .title {
    color: var(--rose-900);
  }

  .price {
    color: var(--red);
  }

  .addToCartBtn {
    background-color: var(--white);
    color: var(--rose-900);
    border: 1px solid var(--rose-400);
    border-radius: 40px;
    padding: 10px 20px;
    position: absolute;
    bottom: 115px;
    left: 40px;
  }

  .cart-icon {
    margin-right: 5px;
    color: var(--red);
    font-size: 20px;
  }

  .cartContainer {
    width: 100%;
  }

  .cart-title {
    color: var(--red);
  }

  .jumbotron {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 60px;
  }

  .order-checkout button {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 12px 54px;
    border-radius: 50px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  /* Main Container */
  .wrapper {
    padding: 60px 10px;
  }

  .header h1 {
    color: var(--rose-900);
    margin-bottom: 40px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .product-wrapper {
    width: 100%;
    margin-right: 250px;
  }

  .cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .card {
    background-color: var(--rose-50);
    border: none;
  }
  .card-img-top {
    width: 100%;
    border-radius: 7px;
  }

  .card-body {
    margin-top: 30px;
  }

  .card-text {
    margin-bottom: 0px;
  }

  .category {
    color: var(--rose-500);
  }

  .title {
    color: var(--rose-900);
  }

  .price {
    color: var(--red);
  }

  .cta-button {
    position: absolute;
    bottom: 6px;
    left: 4px;
  }

  .addToCartBtn {
    background-color: var(--white);
    color: var(--rose-900);
    border: 1px solid var(--rose-400);
    border-radius: 40px;
    padding: 10px 20px;
  }

  .cart-icon {
    margin-right: 5px;
    color: var(--red);
    font-size: 20px;
  }

  .cartContainer {
    width: 100%;
  }

  .cart-title {
    color: var(--red);
  }

  .jumbotron {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 0px;
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .header h1 {
    color: var(--rose-900);
    margin: 40px 0px;
  }

  .main {
    flex-direction: row;
    justify-content: space-between;
  }

  .product-wrapper {
    width: 100%;
    margin-right: 0px;
  }

  .cartContainer {
    margin-left: 20px;
    width: 100%;
  }
}
